body {
  font-family: 'Lato', Verdana;
  font-size: 100%;
  background: #fff;
}
.wrap
{
  margin: 0 auto;
  width: 70%; 
}
.header{
  padding: 1.3em 0em; 
}
.logo{
  float: left; 
}
.logo a {
  display: block; 
}
.nav {
  float: right;   
  margin-top: 0.82em;
}
.nav > ul > li {
  display:inline-block;  
}
.nav > ul > li.active a{
  background: #d0a5a5;
  color: #ffffff;
}
.nav > ul > li > a {
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  text-transform: uppercase;
  padding: 0.5em 1em;
  color: #444;
  -webkit-transition: 0.9s; 
  -moz-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}
.nav > ul > li > a:hover {
  color: #fff;
  background: #d0a5a5;
}
.clear {
clear:both;
}
.mops_bg{
  background:  url(html_coding_banner.jpg) no-repeat;
  background-size: 100% 110%;
}
.mops_text {
  padding: 28% 0%;
}
.mops_text h2 {
  color: #fff;
  font-size: 2.9em;
  font-weight: 600;
  z-index: 10;
  text-align: center;
  position: relative; 
  margin-top: -140px;
  }
.mops_text h2 span {
  font-size: 1.1em;
  font-weight: 290;
}
.mops_text p {
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  margin: 1.4em auto;
  width: 76%;
  font-weight: 200;
  line-height: 1.3em;
}
.mops_text .da-butt {
  display: block;
  background-color: #a97b7b;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  margin: 10% auto;
  width: 10%;
  text-align: center;
  padding: 1em 2em;
}
.da-butt {
  position: absolute; 
  left: 900px; top: 370px;  
.mops_text .da-butt:hover
{
  background:#d0a5a5;
}
.butt-img{
  width: 50px;
  height: 50px;
  display: block;
  margin: 2em auto 1em;
  background: url(buttonimg.png) no-repeat;
  -webkit-transition: all 0.5s ease-in-out; 
  -moz-transition: all 0.5s ease-in-out; 
  -o-transition: all 0.5s ease-in-out; 
  -ms-transition: all 0.5s ease-in-out; 
  transition: all 0.5s ease-in-out;
  position: relative; 
  left: 210px; top: 130px;  
}
.butt-img:hover{
  display: block;
  width: 50px;
  height: 50px;
  background: url(button.png) no-repeat;
}
body {
	font-family: 'Lato', sans-serif;
	font-size: 100%;
	background: #ffffff;
}

 .container-well {    position: relative;
  -webkit-transition: all 1s ease; 
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease; 
  transition: all 1s ease;
}
.container-well h2{   color:#4d4; 
  font-size: 2em; 
  padding-bottom: 0.5em; 
  text-align: center;
}
.container-well p{   color:#444444;
  font-size: 1em; 
  padding-bottom: 1em; 
  text-align: center; 
}


.container h2{
	color:#4D4D4D;
	font-size: 2em;
	padding-bottom: 0.5em;
	text-align: left;
	
}
.container p{
	color:#444444;
	font-size: 1em;
	padding-bottom: 1em;
	text-align: center;
}
.main_btm {
	margin-top: 4%;
	display: block;
}

.gallery{
	margin-top: 4% 0%;
}
.gallery1 {
	padding: 4em 0em;
}
.container { 
	position: relative; 
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
    	
}
#valantin {
  width: 60%; 
  list-style: none; 
  margin: 2% auto;
  padding: 0;
}
#valantin li {
  float:left;
  margin-left: 17px;
}
#valantin li span {
  background:#d0a5a5;
  padding: 15px 30px; 
  text-decoration: none; 
  color: #fff; 
  text-transform:uppercase; 
  font-weight: 600; 
  cursor: pointer; 
}
#valantin li span:hover
{
  background:#a97b7b; 
}
#valantin li span.active {
  background:#a97b7b; 
}

}
#filters li span.active {
	background:#a97b7b;
	color:#fff;
}
#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width: 19%;
	margin: 0% 3%;
	float: left;
}
.portfolio-wrapper {
	position: relative !important;
	cursor:pointer;
}
.portfolio img {
	max-width:100%;
	position: relative;
	opacity: 5;
	transition: all 300ms!important;
	-webkit-transition: all 300ms!important;
	-moz-transition: all 300ms!important;
}
.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
		
	-webkit-transition: all 0.9s ease-in-out;
	-moz-transition: all 0.9s ease-in-out;
	-o-transition: all 0.9s ease-in-out;
	-ms-transition: all 0.9s ease-in-out;
	transition: all 0.9s ease-in-out;
}

.ch-img-1 { 
	background-image: url(camera.png);
}

.ch-img-2 { 
	background-image: url(chat.png);
}

.ch-img-3 { 
	background-image: url(fire.png);
}
.ch-img-4 { 
	background-image: url(headphone.png);
}

.ch-img-5{ 
	background-image: url(note.png) ;
}

.ch-img-6 { 
	background-image: url(loop.png);
}
.ch-img-7 { 
	background-image: url(tape.png);
}

.ch-img-8 { 
	background-image: url(icon5.png) ;
}

.ch-info {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	opacity: 0;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	-webkit-backface-visibility: hidden; 

}
.ch-info img
{
	width:33px;
	height:34px;
	margin-top:18%;
}
.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 2px;
	font-size: 15px;
	padding: 15px 0 0 0;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
}

.ch-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;l
	letter-spacing: 1px;
	padding-top: 4px;
}

.ch-info p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
}

.ch-item:hover {
	box-shadow: 
		inset 0 0 0 110px rgba(199,91,91, 0.8),
		inset 0 0 0 16px rgba(255,255,255,0.8),
		0 1px 2px rgba(0,0,0,0.1);
}

.ch-item:hover .ch-info {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);	
}
.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 176px;
	height: 180px;
	display: inline-block;
	margin: 20px;
}
